.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: auto;
  margin: auto;
  opacity: 0;
  animation: rotateInDownLeft 1s 1.5s;
  animation-fill-mode: forwards;

  @media screen and (min-width: 1151px) and (max-width: 1340px) {
    right: 10%;
  }

  @media screen and (max-width: 1150px) {
    display: none;
  }

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotate(-10deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    bottom: auto;
    right: auto;
    left: 0;
    margin: auto;
    width: 100%;
    // opacity: 0;
    transform: rotateZ(-10deg);
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
