.about-page {
  top: 7%;
}

.blog-zone {
  margin-top: 100px;

  h2 {
    font-family: "Coolvetica";
    color: #ffd700;
    font-weight: 400;
    font-size: 36px;
    position: relative;
    left: 10px;
    margin-bottom: 50px;

    &::before {
      content: '<h2>';
      font-family: 'La belle Aurore';
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      left: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &::after {
      content: '</h2>';
      font-family: 'La belle Aurore';
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

  .blog-post {
    list-style: none;
    padding: 0;
    display: flex;
    
    a {
      li {
        background: #212529;
        padding: 10px 20px;
        box-sizing: border-box;
        margin-right: 20px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        h4 {
          font-size: 14px;
        }

        p {
          font-size: 12px;
          opacity: 0.8;
        }
      }
      &:nth-child(1) {
        li {
          border-top: 1px solid #51cf66;

          h3 {
            color: #51cf66;
          }
        }
      }
      &:nth-child(2) {
        li {
          border-top: 1px solid #ff6b6b;

          h3 {
            color: #ff6b6b;
          }
        }
      }
      &:nth-child(3) {
        li {
          border-top: 1px solid #3bc9db;

          h3 {
            color: #3bc9db;
          }
        }
      }
    }
  }
}


.profileImg {
  width: 340px;
  height: 509px;
  position: absolute;
  top: 0;
  right: 17%;
  bottom: 0;
  left: auto;
  margin: auto;

  img {
    width: 100%;
    opacity: 0;
    animation: fadeInDown 1.5s 2.5s;
    animation-fill-mode: forwards;
  }

  .subTitle {
    color: #fff;
    letter-spacing: 2px;
    opacity: 0;
    animation: subFadeIn 1s 3.5s;
    animation-fill-mode: forwards;
  }

  .profile-text {
    width: 74px;
    height: 74px;
    position: absolute;
    left: -95px;
    top: 48%;
    bottom: auto;
    right: auto;
    text-align: right;
    line-height: 1;
    z-index: 100;
    background: #022c43;
    letter-spacing: 3px;

    span {
      font-size: 36px;
      font-family: "Coolvetica";
      color: #fff;

      &.text-animate-hover {
        &:hover {
          color: #ffd700;
        }
      }
    }
  }

  .profile-line {
    width: 338px;
    height: 443px;
    // border: 5px solid #ffd700;
    position: absolute;
    left: -63px;
    top: 58px;
    right: auto;
    bottom: auto;

    span {
      position: absolute;
      left: -5px;
      top: 0;
      width: 5px;
      height: 0;
      animation: line-ani-h 1s 2s 1;
      background: #ffd700;
      animation-fill-mode: forwards;

      &:nth-child(2) {
        height: 5px;
        width: 0;
        animation: line-ani-w 1s 2s 1;
        animation-fill-mode: forwards;
        left: -5px;
        top: -5px;
      }

      &:nth-child(3) {
        right: -5px;
        left: auto;
        bottom: 0px;
        top: auto;
      }

      &:nth-child(4) {
        height: 5px;
        width: 0;
        animation: line-ani-w2 1s 2s 1;
        animation-fill-mode: forwards;
        right: -5px;
        left: auto;
        bottom: -5px;
        top: auto;
      }
    }
  }
}


@keyframes line-ani-h {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes line-ani-w {
  0% {
    width: 0;
  }

  100% {
    width: 103%;
  }
}

@keyframes line-ani-w2 {
  0% {
    width: 0;
  }

  100% {
    width: 102.7%;
  }
}

@keyframes subFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}
