.home-page {

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    
    @media screen and (min-width: 781px) and (max-width: 1150px) {
      width: 80%;
    }

    @media screen and (max-width: 780px) {
      left: 16%;
      width: 80%;
    }
  }

  h1 {
    color: #fff;
    font-size: 72px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    line-height: 1.2;
    @media screen and (max-width: 780px) {
      font-size: 58px;
    }

    &::before {
      content: '<h1>';
      font-family: 'La belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -10px;
      top: 10px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 38px;
      margin-left: 23px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 32px;
      margin-left: 20px;
      vertical-align: middle;
      margin-top: -13px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
  
  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    background: #022c43;
    margin-top: 25px;
    float: left;
    // animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    position: relative;
    width: 106px;

    em {
      position: absolute;
      height: 1px;
      background: #ffd700;
      width: 47%;
      right: 13px;
      top: 50%;
      transform: scaleX(0.25);
       -webkit-transform:scaleX(0.25);
      transform-origin: center right;
      transition: all 0.3s ease;
      z-index: 1;
    }

    span {
      color: #ffd700;
      display: inline-block;
      transition: color 0.5s;
      position: relative;
      z-index: 1;
    }

    &:hover {
      // background: #ffd700;
      
      span {
        color: #022c43;
      }

      em {
        background: #022c43;
        transform: scaleX(.47);
        // transform: scaleY(.50);
      }

      &:before {
        width: 100%;
        right: 0;
        left: auto;
      }

      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }

    &:before, 
    &:after {
      content: '';
      background: #ffd700;
      height: 51%;
      width: 0;
      position: absolute;
      transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -webkit-transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  
    &:before {
      top: 0;
      left: 0;
      right: auto;
    }
  
    &:after {
      bottom: 0;
      right: 0;
      left: auto;
    }
  }

}